/* ======================================== */
/* BASIC_SETUP_start */
/* ======================================== */




/* ======================================== */
/* STYLE_SHEET_FOR_NAVBAR */
/* ======================================== */
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ======================================== */
/* Css_style_for_body */
/* ======================================== */
body{
    background:url(image/9.JPEG);
    background-size: cover;
}
/* ======================================== */
/* NAVBAR_IN_CSS */
/* ======================================== */
nav{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 1em 0;
    display: inline-block;
    font-weight: bold;
    background-color: red;
    transition: all .4s ease-in-out;
}
.line{
    width: 120px;
    height: 3px;
    background-color: #fff;
}
a:nth-child(2):hover ~ .line {
    transform: translate(125px);
    transition: all .4s ease-in-out;
    background-color: tomato;

}
a:nth-child(2):hover{
    color: tomato;
}

a:nth-child(3):hover ~ .line {
    transform: translate(250px);
    transition: all .4s ease-in-out;
    background-color: yellowgreen;


}
a:nth-child(3):hover{
    color:yellowgreen;
}
a:nth-child(4):hover ~ .line {
    transform: translate(375px);
    transition: all .4s ease-in-out;
    background-color: palevioletred;


}
a:nth-child(4):hover{
    color:palevioletred;
}
